.product-con {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
}

.con {
  width: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
